<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj_F32UGKpZi6VaiUL3nGsO29f35auP4o</string>
	<key>GCM_SENDER_ID</key>
	<string>357247682443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vtapp-85fa1</string>
	<key>STORAGE_BUCKET</key>
	<string>vtapp-85fa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357247682443:ios:2496bcf80d177cc6c8d18e</string>
</dict>
</plist>